.media-object {
    padding: 20px;

    width: 360px;
}

.media-object-title-container {
    color: white;
    background: rgba(40,53,79,.9);
    font-family:  BigNoodleTitling, sans-serif;
    font-size: 3.2rem;
    text-align: center;
    padding: 1rem;
    padding-bottom: 0.5rem;
}

.media-object-subtitle-container {
    height: 100px;
    width: 100%;

    overflow: hidden;
    font-size: 1.5rem;
    padding: 1rem;
    padding-top: 0.5rem;
    color: #9daac8;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgba(40,53,79,.9);
}