<html>

<head>
    <!-- META INFORMATION -->
    <meta charset="UTF-8">
    <meta name="description" content="Lietuvos Overwatch Bendruomenės Internetinė Svetainė">
    <meta name="keywords" content="Overwatch,Lietuva,Lithuania,Community">
    <meta name="author" content="Žilvinas Šiaulys">

    <title>Lietuvos Overwatch Klubas</title>



    <!-- INCLUDES -->
    <link rel="shortcut icon" href="favicon.png">
    <link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />
</head>

<body>
    <div style="text-align: center; padding-top: 50px;">
        <span class="title-text">Lietuvos Overwatch Klubas</span>
    </div>

    <div>

        <video width="320" height="240" autoplay loop style="bottom:0; right: 0; position:absolute;">
            <source src="videos/mei.mp4" type="video/mp4" />
        </video>

    </div>
</body>

</html>