<html>

<head>
    <!-- META INFORMATION -->
    <meta charset="UTF-8">
    <meta name="description" content="Lietuvos Overwatch Bendruomenės Internetinė Svetainė">
    <meta name="keywords" content="Overwatch,Lietuva,Lithuania,Community">
    <meta name="author" content="Žilvinas Šiaulys">

    <title>Lietuvos Overwatch Koalicija</title>

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">

    <!-- INCLUDES -->
    <link rel="shortcut icon" href="favicon.png?v=2">
    <link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />
</head>

<body>
    <div class="website-title-container">
        <span class="ow-text-font ow-text--white website-title bordered-text">Lietuvos Overwatch Koalicija</span>
    </div>

    <div class="container-fluid main">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-lg-4 col-lg-offset-2">
                <div class="section-title">Apie Overwatch</div>
                <div class="section-subtitle"><a href="https://www.youtube.com/watch?v=FqnKB22pOC0">Cinematic Trailer</a></div>
                <div class="visible-lg-block">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/FqnKB22pOC0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="section-subtitle"><a href="https://playoverwatch.com/en-gb/game/">Daugiau Info</a></div>
                <div class="section-subtitle"><a href="https://playoverwatch.com/en-gb/buy/">Pirkti</a></div>
            </div>

            <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-lg-5">
                <div class="section-title">Koalicijos Discord Serveris</div>
                <div class="section-subtitle"><a href="https://discordapp.com/invite/0143Keq0zKnGXF8wW">Prisijungti</a></div>
                <div class="visible-lg-block">
                    <iframe src="https://discordapp.com/widget?id=190731025943494657&theme=dark" width="480" height="270" allowtransparency="true" frameborder="0"></iframe>
                </div>
            </div>
        </div>
        <div class="row push-down"></div>
    </div>

    <!--<div class="corner-img">
        <video width="240" height="240" autoplay loop>
            <source src="videos/mei.mp4" type="video/mp4" />
        </video>
    </div>-->
</body>


    <script src="js/bg_image_rotate.js"></script>
</html>