<html>

<head>
    <!-- META INFORMATION -->
    <meta charset="UTF-8">
    <meta name="description" content="Lietuvos Overwatch Koalicija">
    <meta name="keywords" content="Overwatch,Lietuva,Lithuania,Community,Blizzard,LTU">

    <title>Lietuvos Overwatch Koalicija</title>

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">

    <!-- INCLUDES -->
    <link rel="shortcut icon" href="favicon.png?v=2">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body class="main-area-wrapper">
    <header>
        <div class="header">
            <div class="ow-text-font ow-text--white bordered-text">Lietuvos Overwatch Koalicija</div>
        </div>
        <div class="striped-separator"></div>
    </header>

    <main class="main-area">
        Content Coming Soon™
    </main>

    <footer>
        <div class="striped-separator"></div>
        <div class="footer">            
            <div>Lietuvos Overwatch Koalicija</div>
            <div>Rašykite mums: <a href="mailto:overwatch.koalicija@gmail.com">overwatch.koalicija@gmail.com</a></div>
        </div>
    </footer>
</body>


<script src="js/general/google_analytics.js"></script>

</html>