.main-area-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-area-inner-wrapper {
    background-color: #e4e4e4;
    flex: 1 0 auto;
    display: flex;
}

.main-area {
    flex: 1;
    padding: 40px;
    color: #000000;
    font-family: Futura,century gothic,arial,sans-serif;
    display: flex;
    flex-direction: column;
}

.main-area-inner {
    flex: 0 0 500px;
}

.discord-widget-container {
    flex: 0 0 400px;
    padding: 40px;
}

.footer {
    padding: 2rem;
    background-color: #404040;
    color: #999999;
    font-size: 1.5rem;
    display: flex;
    background: url(../images/txture.png) repeat;
}

.footer a {
    color: #e5e5e5;
}

.footer-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header {
    padding: 1rem;
    background-color: #404040;
    background: url(../images/txture.png) repeat;
    color: #FFFFFF;
    font-size: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.striped-separator {
    background: repeating-linear-gradient(-45deg, #F99E1A, #F99E1A 25px, #404040 25px, #404040 50px);
    height: 8px;
}

@font-face {
     font-family: BigNoodleTitling;
     src: url(../fonts/big_noodle_titling_oblique.ttf); 
}

.ow-text-font {
    font-family:  BigNoodleTitling, sans-serif;
    font-weight: 100;
}

.ow-text--yellow {
    color: #FFE126;
}

.ow-text--orange {
    color: #F99E1A;
}

.ow-text--white {
    color: #FFFFFF;
}

.ow-text--grey {
    color: #404040; 
}

.bordered-text {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;    /* BLACK BORDER 1 PX */
}

.social-media-icons {
    padding: 10px 0 10px 0;
    font-size: 48px;
}