a {
    font-family:  BigNoodleTitling, sans-serif;
    
    color: rgb(247, 147, 30);
    line-height: 1.2;
    text-decoration: none;
}

a.biglink {
    font-size: 4rem;
}

/* visited link */
a:visited {
    color: rgb(247, 147, 30);
}

/* mouse over link */
a:hover {
    color: #FFE126;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #FFE126;
}