body { 
  background: url(../images/bg_default.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
     font-family: BigNoodleTitling;
     src: url(../fonts/big_noodle_titling_oblique.ttf); 
}

.ow-text-font {
    font-family:  BigNoodleTitling, sans-serif;
}

.ow-text--yellow {
    color: #FFE126;
}

.ow-text--orange {
    color: #F99E1A;
}

.ow-text--white {
    color: #FFFFFF;
}

.ow-text--grey {
    color: #43484C; 
}


/****************************************************************************************************/
.bordered-text {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;    /* BLACK BORDER 1 PX */
}

/****************************************************************************************************/
.website-title-container {
    text-align: center;
    padding: 40px;
}

.website-title {
    font-size: 120px;
}

.section-title {
    font-family:  BigNoodleTitling, sans-serif;
    font-size: 52px;
    color: #FFFFFF;
    line-height: 1.1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.section-subtitle {
    font-family:  BigNoodleTitling, sans-serif;
    font-size: 48px;
    color: #F99E1A;
    line-height: 1.1;
    padding-left: 25px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.section-subtitle a {
    font-family:  BigNoodleTitling, sans-serif;
    font-size: 48px;
    color: #F99E1A;
    line-height: 1.1;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* visited link */
.section-subtitle a:visited {
    color: #F99E1A;
}

/* mouse over link */
.section-subtitle a:hover {
    color: #FFE126;
    text-decoration: none;
}

/* selected link */
.section-subtitle a:active {
    color: #FFE126;
}

.section-subsubtitle {
    font-family:  BigNoodleTitling, sans-serif;
    font-size: 48px;
    color: #F99E1A;
    line-height: 0.8;
    padding-left: 50px;
}


/****************************************************************************************************/
.corner-img {
    bottom: 0;
    right: 0;
    position:absolute;
}

.push-down {
    height: 60px;
}

bg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg1 { background: url(../images/bg1.jpg) no-repeat center center fixed; }
.bg2 { background: url(../images/bg2.jpg) no-repeat center center fixed; }
.bg3 { background: url(../images/bg3.jpg) no-repeat center center fixed; }
.bg4 { background: url(../images/bg4.jpg) no-repeat center center fixed; }
.bg5 { background: url(../images/bg5.jpg) no-repeat center center fixed; }
.bg6 { background: url(../images/bg6.jpg) no-repeat center center fixed; }
.bg7 { background: url(../images/bg7.jpg) no-repeat center center fixed; }
.bg8 { background: url(../images/bg8.jpg) no-repeat center center fixed; }
.bg9 { background: url(../images/bg9.jpg) no-repeat center center fixed; }
.bg10 { background: url(../images/bg10.jpg) no-repeat center center fixed; }
.bg11 { background: url(../images/bg11.jpg) no-repeat center center fixed; }
.bg12{ background: url(../images/bg12.jpg) no-repeat center center fixed; }
.bg13 { background: url(../images/bg13.jpg) no-repeat center center fixed; }
.bg14 { background: url(../images/bg14.jpg) no-repeat center center fixed; }
.bg15 { background: url(../images/bg15.jpg) no-repeat center center fixed; }
.bg16 { background: url(../images/bg16.jpg) no-repeat center center fixed; }
.bg17 { background: url(../images/bg17.jpg) no-repeat center center fixed; }
.bg18 { background: url(../images/bg18.jpg) no-repeat center center fixed; }
.bg19 { background: url(../images/bg19.jpg) no-repeat center center fixed; }
.bg20 { background: url(../images/bg20.jpg) no-repeat center center fixed; }
.bg21 { background: url(../images/bg21.jpg) no-repeat center center fixed; }
.bg22 { background: url(../images/bg22.jpg) no-repeat center center fixed; }
.bg23 { background: url(../images/bg23.jpg) no-repeat center center fixed; }
.bg24 { background: url(../images/bg24.jpg) no-repeat center center fixed; }
.bg25 { background: url(../images/bg25.jpg) no-repeat center center fixed; }
.bg26 { background: url(../images/bg26.jpg) no-repeat center center fixed; }
.bg27 { background: url(../images/bg27.jpg) no-repeat center center fixed; }
.bg28 { background: url(../images/bg28.jpg) no-repeat center center fixed; }
.bg29 { background: url(../images/bg29.jpg) no-repeat center center fixed; }
.bg30 { background: url(../images/bg30.jpg) no-repeat center center fixed; }
.bg31 { background: url(../images/bg31.jpg) no-repeat center center fixed; }
.bg32 { background: url(../images/bg32.jpg) no-repeat center center fixed; }
.bg33 { background: url(../images/bg33.jpg) no-repeat center center fixed; }
.bg34 { background: url(../images/bg34.jpg) no-repeat center center fixed; }